<div class="navigation-container">
    <ul class="navigation-tabs">
        <li class="nav-link" [routerLink]="['../app','Weather']" routerLinkActive="active" role="tab" data-toggle="tab">
            <div class="clickable-option">
                <span class="scale-text">מזג אוויר עולמי</span>
            </div>
        </li>
        <li class="nav-link left-border" [routerLink]="['../app','Theater']" routerLinkActive="active" role="tab" data-toggle="tab">
            <div class="clickable-option">
                <span class="scale-text">אולם הקולנוע</span>
            </div>
        </li>
    </ul>
</div>